  <div class="pin-container">
    
      <div class="pin-all">
        <div class="line-4">
              
              <div class="pin-7-container">
                <div class="pin-7">
                  <p>7</p>
                </div>
                <div class = "pin-7-svg">
                  <img src = "/assets/pin-1.svg">
                </div>
              </div>

              <div class="pin-8-container">
                <div class="pin-8" >
                  <p>8</p>
                </div>
                <div class = "pin-8-svg">
                  <img src = "/assets/pin-1.svg">
                </div>
              </div>
              
              <div class="pin-9-container">
                <div class="pin-9">
                  <p>9</p>
                </div>
                <div class = "pin-9-svg">
                  <img src = "/assets/pin-1.svg">
                </div>
              </div>

              <div class="pin-10-container">
                <div class="pin-10">
                  <p>10</p>
                  <div class="pin-10-text"></div>
                </div>
                <div class = "pin-10-svg">
                  <img src = "/assets/pin-1.svg">
                </div>
              </div>

            </div>
            <div class="line-3">

              <div class="pin-4-container">
                <div class="pin-4">
                  <p>4</p>
                </div>
                <div class = "pin-4-svg">
                  <img src = "/assets/pin-1.svg">
                </div>
              </div>

              <div class="pin-5-container">
                <div class="pin-5">
                  <p>5</p>
                </div>
                <div class = "pin-5-svg">
                  <img src = "/assets/pin-1.svg">
                </div>
              </div>

              <div class="pin-6-container">
                <div class="pin-6">
                  <p>6</p>
                </div>
                <div class = "pin-6-svg">
                  <img src = "/assets/pin-1.svg">
                </div>
              </div>

            </div>
            <div class="line-2">
            
              <div class="pin-2-container">
                <div class="pin-2">
                  <p>2</p>
                </div>
                <div class = "pin-2-svg">
                  <img src = "/assets/pin-1.svg">
                </div>
              </div>

              <div class="pin-3-container">
                <div class="pin-3">
                  <p>3</p>
                </div>
                <div class = "pin-3-svg">
                  <img src = "/assets/pin-1.svg">
                </div>
              </div>

            </div>
            <div class="line-1">

              <div class="pin-1-container">
                <div class="pin-1">
                  <p>1</p>
                </div>
                <div class = "pin-1-svg">
                  <img src = "/assets/pin-1.svg">
                </div>
              </div>
              <div class="pin-1-container">
              
              </div>


            </div>
        <div class="btn-ok">
          <p class="btn-ok-a">OK ?</p>
          
        </div>
        </div>